.border-cstm-rounded {
    border-radius: 5% !important;
}

.border-cstm-rounded-img {
    border-radius: 8% !important;
}

.bg-promo-left {
    background: rgb(255,43,43);
    background: linear-gradient(135deg, rgba(255,43,43,1) 24%, rgba(135,17,12,1) 100%);
}

.bg-promo-right {
    background: rgb(113,15,12);
background: linear-gradient(135deg, rgba(113,15,12,1) 0%, rgba(38,5,3,1) 100%);
}

.bg-promo {
    background: rgb(255,43,43);
    background: linear-gradient(135deg, rgba(255,43,43,1) 0%, rgba(135,17,12,1) 32%, rgba(113,15,12,1) 63%, rgba(38,5,3,1) 100%);
}

.bg-red {
    background-color: #C93636 !important;
}

.nav-tabs > .active {
    color: #C93636 !important;
}

.nav-tabs > :not(.active) {
    color: #878787 !important;
}